<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <shares>
    <share drive="C:\" share="C:\"/>
    <share drive="D:\" share="D:\"/>
  </shares>
  <shares>
    <share drive="E:\" share="\\Supinforest.com\Storage-1"/>
    <share drive="F:\" share="\\Supinforest.com\storage2"/>
  </shares>
</configuration>
