
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="section-3-container section-container">
        <div class="container">

            <div class="row">
                <div class="col section-3 section-description wow fadeIn">
                    <h2>Vue d'ensemble</h2>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <img src="/Content/images/cle1.png">

                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Accès Complet Sécurisé</h3>
                            <p>
                                Vos données sont accessibles en tout temps. Utilisez un navigateur Web ou l'une de nos puissantes applis proposées pour la plupart des plateformes principales.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <img src="/Content/images/dossier.png">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Collaboration sécurisée</h3>
                            <p>
                                Partagez des données, communiquez avec vos contacts en toute sécurité et voyez leurs mises à jour en temps réel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <i class="fas fa-cloud"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Vaste espace de stockage</h3>
                            <p>
                                Nos services sont non seulement plus sécurisés que ceux de nos principaux compétiteurs, mais nous offrons aussi un espace de stockage gratuit plus généreux.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <img src="/Content/images/cadenas.png">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3>Chiffrement de vos données</h3>
                            <p>
                                Vous seul contrôlez l’accès à vos données, même SUPFILES ne peut pas accéder à vos données !
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
